### Market Basket Analysis using Apriori

In [1]:
data = [
    ["Milk", "Onion", "Nutmeg", "Kidney Beans", "Yogurt"],
    ["Chips", "Onion", "Nutmeg", "Kidney Beans", "Yogurt"],
    ["Milk", "Corn Flour", "Sweet Corn", "Kidney Beans", "Yogurt"],
    ["Milk", "Onion", "Spring Onion", "Kidney Beans", "Ice Cream", "Eggs"]
]

In [2]:
from mlxtend.preprocessing import TransactionEncoder

encoder = TransactionEncoder()

data_encoded = encoder.fit_transform(data)

data_encoded

array([[False, False, False, False,  True,  True,  True,  True, False,
        False,  True],
       [ True, False, False, False,  True, False,  True,  True, False,
        False,  True],
       [False,  True, False, False,  True,  True, False, False, False,
         True,  True],
       [False, False,  True,  True,  True,  True, False,  True,  True,
        False, False]])

In [3]:
import pandas as pd

df = pd.DataFrame(data_encoded, columns=encoder.columns_)

df

   Chips  Corn Flour   Eggs  Ice Cream  ...  Onion  Spring Onion  Sweet Corn  Yogurt
0  False       False  False      False  ...   True         False       False    True
1   True       False  False      False  ...   True         False       False    True
2  False        True  False      False  ...  False         False        True    True
3  False       False   True       True  ...   True          True       False   False

[4 rows x 11 columns]

In [4]:
from mlxtend.frequent_patterns import apriori

freq_items = apriori(df=df, min_support=0.6, use_colnames=True)

freq_items

   support                itemsets
0     1.00          (Kidney Beans)
1     0.75                  (Milk)
2     0.75                 (Onion)
3     0.75                (Yogurt)
4     0.75    (Milk, Kidney Beans)
5     0.75   (Onion, Kidney Beans)
6     0.75  (Kidney Beans, Yogurt)

In [6]:
from mlxtend.frequent_patterns import association_rules

rules = association_rules(freq_items, metric="confidence", min_threshold=0.7)

rules

      antecedents     consequents  ...  conviction  zhangs_metric
0          (Milk)  (Kidney Beans)  ...         inf            0.0
1  (Kidney Beans)          (Milk)  ...         1.0            0.0
2         (Onion)  (Kidney Beans)  ...         inf            0.0
3  (Kidney Beans)         (Onion)  ...         1.0            0.0
4  (Kidney Beans)        (Yogurt)  ...         1.0            0.0
5        (Yogurt)  (Kidney Beans)  ...         inf            0.0

[6 rows x 10 columns]

In [8]:
rules[["antecedents", "consequents", "support", "confidence"]]

      antecedents     consequents  support  confidence
0          (Milk)  (Kidney Beans)     0.75        1.00
1  (Kidney Beans)          (Milk)     0.75        0.75
2         (Onion)  (Kidney Beans)     0.75        1.00
3  (Kidney Beans)         (Onion)     0.75        0.75
4  (Kidney Beans)        (Yogurt)     0.75        0.75
5        (Yogurt)  (Kidney Beans)     0.75        1.00